<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.comradeappsoftware">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.Usuario.RegistroUsuarioActivity"
            android:theme="@style/AppThemeAction"
            android:label="Registro"
            ></activity>
        <activity
            android:name=".activities.ListaProductoxNotasActivity"
            android:label="Productos"
            android:parentActivityName=".activities.ListaNotasActivity"
            android:theme="@style/AppThemeAction">

        </activity>
        <activity
            android:name=".activities.ListaNotasActivity"
            android:label="Listas"
            android:parentActivityName=".activities.MenuMainActivity"
            android:theme="@style/AppThemeAction">

        </activity>
        <activity
            android:name=".activities.ProductoModulo1.NuevoProductoActivity"
            android:label="Nuevo Producto"
            android:parentActivityName=".activities.ProductoModulo1.ListaProductosActivity"
            android:theme="@style/AppThemeAction">

        </activity>
        <activity
            android:name=".activities.ProductoModulo1.ListaProductosActivity"
            android:label=""
            android:parentActivityName=".activities.MenuMainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Usuario.PerfilUsuarioActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.MenuMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.SplachActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>